<div ng-controller="IntegrationController as ctrl" style="width:600px; height:500px">
    <div class="row">
        <div class="col-xs-12">

            <div class="form-group">
                <label class="control-label" for="bay-name" translate>Function Name</label>
                <input name="bay-name" type="text" class="form-control" id="bay-name"
                       ng-model="model.newBaySpec.name"
                       placeholder="{$ 'Name of the function to create.'|translate $}">
            </div>

            <div class="form-group">
                <label class="control-label" for="function-method" translate>Function Method</label>
                <select name="function-method" id="function-method"
                        class="form-control" ng-options="mu.unit as mu.label for mu in ctrl.endpoint_method"
                        ng-model="model.newFunctionSpec.method" ng-change="changeMemoryUnit()">
                </select>
            </div>

        </div>
    </div>
</div>