{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Detail Function" %}{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Show Function infomation and Define function policy " %}</p>
{% endblock %}

{% block modal-footer %}
  <a href="{% url 'horizon:oasisdash:function:index' %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
  <input class="btn btn-primary" type="submit" value="{% trans "Update Function" %}" />
{% endblock %}
