<div id="container">
    <div class="col-md-3">
        <label class="control-label" for="function-method" translate>Function Method</label>
        <select name="function-method" id="function-method" ng-model="method"
                class="form-control" ng-options="mu as mu.label for mu in function_method"
                ng-change="selectMethod(method)">
            <option value="">Select Method</option>
        </select>

        <div ng-repeat="method in selectMethods">
            <a ui-sref=".setting({param:method})"> {$method$} </a>
            <button class="btn btn-default" ng-click="selectMethods.splice($index,1)">Delete</button>
        </div>
    </div>

    <div class="col-md-9">
        <div ui-view>
            <!--Here is the content-->
        </div>
    </div>
</div>