<div ng-controller="EndpointResponseController as ctrl" >

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group" id = method-group>
                <label class="control-label" for="endpoint-method" translate>Function Method</label>
                <select name="endpoint-method" id="endpoint-method"
                        class="form-control" ng-options="mu.unit as mu.label for mu in ctrl.endpoint_method"
                        ng-model="model.newEndpointDetailSpec.method" ng-change="changeMemoryUnit()">
                </select>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <button type="button" class="btn btn-default full-config-hide" ng-click="ctrl.addMethodElement()">Add</button>
            </div>
        </div>
    </div>
</div>