<table ng-controller="EndpointTableController as table"
       hz-table ng-cloak
       st-table="table.endpoint"
       st-safe-src="table.endpointSrc"
       default-sort="name"
       default-sort-reverse="false"
       class="table table-striped table-rsp table-detail">

    <thead>
    <!--
      Table-batch-actions:
      This is where batch actions like searching, creating, and deleting.
    -->
    <tr>
        <th colspan="100" class="search-header">
            <hz-magic-search-bar group-classes="input-group-sm" icon-classes="fa-search"
                                 filter-facets="table.endpointFacets">
            </hz-magic-search-bar>
        </th>
    </tr>
    <tr class="action-row">
        <th colspan="100">
            <actions allowed="table.endpointResource.batchActions" type="batch"></actions>
        </th>
    </tr>
    <!--
      Table-column-headers:
      The headers for the table columns
    -->

    <tr>
        <th class="multi_select_column">
            <input type="checkbox" hz-select-all="table.endpoint">
        </th>

        <th class="expander"></th>

        <th class="rsp-p1" st-sort="name" st-sort-default translate>
            Name
        </th>

        <th class="rsp-p2" st-sort="description" translate>
            Description
        </th>
        <th class="rsp-p1" st-sort="status" translate>
            Status
        </th>
    </tr>
    </thead>


    <tbody>
    <!--
      Table-rows:
      This is where we declaratively define the table columns.
      Include multi_select_column if you want to select all.
      Include expander if you want to inline details.
      Include actions_column if you want to perform actions.
      rsp-p1 rsp-p2 are responsive priority as user resizes window.
    -->

    <tr ng-repeat-start="b in table.endpoint track by b.id">

        <td class="multi_select_column">
            <input type="checkbox"
                   ng-model="tCtrl.selections[b.id].checked"
                   hz-select="b">
        </td>

        <td class="expander">
        <span class="fa fa-chevron-right"
              hz-expand-detail
              duration="200">
        </span>
        </td>

        <td class="rsp-p1"><a href='' ng-click="table.showDetailModal(b)">{$ b.name|noName $}</a></td>
        <td class="rsp-p2">{$ b.desc $}</td>
        <td class="rsp-p1"> running </td>

        <td class="actions_column">
            <!--
              Table-row-action-column:
              Actions taken here applies to a single item/row.
            -->
            <actions allowed="table.endpointResource.itemActions" type="row" item="b"></actions>
        </td>
    </tr>
    <tr ng-repeat-end>

    </tr>

    <tr hz-no-items items="table.endpoint"></tr>
    </tbody>
    <!--
    Table-footer:
    This is where we display number of items and pagination controls.
    -->
    <tfoot hz-table-footer items="table.endpoint"></tfoot>
</table>