
<div ng-controller="EndpointNameController as ctrl">
    <div class="row">
        <div class="col-xs-12">

            <div class="form-group">
                <label class="control-label" for="endpoint-name" translate>Endpoint Name</label>
                <input name="endpoint-name" type="text" class="form-control" id="endpoint-name"
                       ng-model="integrationModel.endpoint.name"
                       placeholder="{$ 'Name of the endpoint to create.'|translate $}">
            </div>

            <div class="form-group">
                <label class="control-label" for="endpoint-description" translate>Endpoint Description</label>
                <input name="endpoint-name" type="text" class="form-control" id="endpoint-description"
                       ng-model="integrationModel.endpoint.desc"
                       placeholder="{$ 'Description of the endpoint to create.'|translate $}">
            </div>

            <div class="form-group">
                <label class="control-label" for="endpoint-url" translate>Endpoint URL</label>
                <input name="endpoint-url" type="text" class="form-control" id="endpoint-url"
                       ng-model="integrationModel.endpoint.url"
                       placeholder="{$ 'URL of the endpoint to create.'|translate $}">
            </div>


        </div>
    </div>
</div>