{% load i18n %}


<div class="detail">
  <dl class="dl-horizontal">

    <dt>ID</dt>
    <dd>{{ nodepool.id }}</dd>
    <dt>Project Id</dt>
    <dd>{{nodepool.project_id}}</dd>
    <dt>User Id</dt>
    <dd>{{nodepool.user_id}}</dd>
    <dt>Stack Id</dt>
    <dd>{{nodepool.stack_id}}</dd>
    <dt>Function Id</dt>
    <dd>{{nodepool.function_id}}</dd>
    <dt>NodePool Policy Id</dt>
    <dd>{{nodepool.nodepool_policy_id}}</dd>
    <dt>Host</dt>
    <dd>{{nodepool.host}}</dd>
    <dt>Name</dt>
    <dd>{{nodepool.name}}</dd>
    <dt>Status</dt>
    <dd>{{nodepool.status}}</dd>
    <dt>Status Reason</dt>
    <dd>{{nodepool.status_reason}}</dd>

  </dl>
</div>

